.destaques{
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 5rem;
  &__info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__titulo{
    text-align: center;
    margin-bottom: 1rem;
  }
  &__texto{
    margin-top: 1rem;
    text-align: center;
  }
}