.header{
  &__desconto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $title;
  }
  &__desconto-info{
    margin: 10px;
    color: $white;
  }
  &__nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__marca{
    margin: 10px;
    color: $title;
  }
}