.header{
  &__desconto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $title;
  }
  &__desconto-info{
    margin: 20px;
    color: $white;
    font-family: $montserrat-media;
  }
  &__nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__marca{
    margin: 15px;
    color: $title;
    font-family: $montserrat-bold;
    font-size: 2.5rem;
  }
}