.article{
  background-image: url("../assets/img/wallpaper.jpeg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(0.5);

  @include for-phone-only{
    height: 350px;
  }
}

.banner{
  position: absolute;
  z-index: 999;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: left;
  font-size: 1.5em;
  color: $white;
  line-height: 1.5;


  @include for-phone-only{
    font-size: 1em;
    top: 45%;
    width: 100%;
    text-align: center;
  }

  &__titulo{
    margin-bottom: 1.5rem; 
    font-family: $montserrat-bold;
  }
  &__texto{
    font-family: $montserrat-media;
  }
}