.card {
	margin-bottom: 2em;	
  padding: 0 8px;
  background: $bgCard;
  border-radius: 8px;
  padding: 80px 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  @include for-phone-only{
    flex-direction: column;
  }
}

.card {
	flex: 0 1 24%;
}